@charset "utf-8";

body{
  background: #001d26 url(bgimages/bgpattern1.png) repeat 0 0;
 
  -webkit-animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}