@charset "utf-8";

/*-------HOME TEXT ANIMATION THING------*/
div{
	top: 100px;
	font-variant: all-small-caps;
	
	margin-right: 3%;
	width: 1100px;
	position: relative;
	-webkit-animation: mymove 3s; /* Safari 4.0 - 8.0 */
    animation: mymove 1.5s;
	animation-fill-mode: forwards;
}

#div1 {
    font-size: 90px;
	
   
}

#div2 {
	top:100px;
  	text-align:right;
	font-size: 12px;
    
}

#div3{ 
	top: 150px;
	font-size: 20px;
	color: #00eaff;
}


#div1 {
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}
#div2 {
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}
#div3 {
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 250px;}
	0%   { opacity: 0; }
  	100% { opacity: 1; }
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
	0%   { opacity: 0; }
  	100% { opacity: 1; }
}



/*------RESPONSIVE-----*/