@charset "utf-8";
/* 
COLOURS
Background = #001d26
Text = #d5d5d5
Navbar, links, etc = #00eaff
Image border (darker than previous one) = #006b82 #008d9a

*/

body {	
	background: #001d26;
	font-family: Helvetica, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size:13px;
	color: #d5d5d5;
}


.link {
	color: #00eaff;
	text-decoration: none;
	font-weight: bold;
}

.subtitle {
	color: #00eaff;
	font-weight: bold;
	font-size: 16px;
	border-bottom-style: solid;
	border-color: #00eaff;
}

/*-----------------NAVBAR-----------------*/

.navbar {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	text-align:center;
	color: #00eaff;
	background-color: transparent;
	font-size: 15px;
	font-variant: all-small-caps;
	font-weight: normal;
	border-top-style: solid;
	border-color: #00eaff;
	
}

.navbar ul{
	list-style: none;
	margin: 0px;
	padding: 0em;
	padding-right:10%;
}

.navbar li{
	float: right;
	background-color: #00eaff;
}

.navbar li a {
	text-decoration:none;
	display:block;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	color: #006b82;
	width: 80px;
	
}

.navbar li a:hover{
	display:block;
	background-color:#001d26;
	color: #00eaff;
	border-bottom-style: solid;
	transition-duration: 0.4s;
}



/*-----------------NAVBAR END--------------*/


.homedescription{
	position:relative;
	text-align:center;
	font-size:50px;
	color: #d5d5d5;
}
@media only screen and (max-width: 400px){
	.homedescription {
		font-size: 2em;
		top: 10px;
	}
}

#nameAndIntro{
	position: relative;
	font-variant: all-small-caps;
	margin-left:250px;
	margin-right: 250px;
}


.aboutdescription{
	padding-top: 40px;
	padding-left: 15%;
	width: 71%;
	
	
}

@media only screen and (max-width: 320px){
	.aboutdescription{
		font-size: 12px;
		top: 50px;
	}
}

.insideCategoryText{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
	
}

.title{
	font-weight: bold;
	font-size: 30px;
	font-variant: all-small-caps;
	color: #00eaff;
	/*border-bottom-style: solid;*/
	transition-duration: 0.4s;
}
.title:hover{
	background-color: #00eaff;
	color: #001d26;
	transition-duration: 0.4s;
}

@media only screen and (max-width: 400px){
	.title{
		font-size: 20px;
		
	}
}

.abovecontainer{
	width: 100%;
	
}

.infoContainer {
 	position: relative;
  	left: 15%;
  	top:10px;
	padding-right: 20px;
	padding-bottom: 10px;
	width: 250px;
	color: #001d26;
	border-bottom-style: solid;
	display: inline-block;
	
	
}

.image {
  	display: inline-block;	
}


/*
.imagescontainer {
	border-style: solid;
	border-color: #00eaff;
	width: 100%;
	margin:0px;
	
}*/

.backgroundCanvas{
	
	border-style:solid;
	border-width: 3px;
	border-color: #008d9a;
}

.backgroundCanvas ul{
	list-style: none;
	padding: 0em;
	margin: 0px;
}

.backgroundCanvas li:hover{
	background-color: #000000;
}

/*--------SCREENSHOTS-----------*/

.screenshotimages {
	display: inline-block;
	
	
}

.screenshotimages ul{
	
	list-style: none;
	padding: 0em;
	margin: 0px;
}

.screenshotimages li{
	border-style:solid;
	border-width: 3px;
	border-color: #00eaff;
	float: left;
}

/*-----------SCREENSHOTSV2----------------*/
.screenshots{
	display:flex;
	flex-wrap: wrap;
	width: 100%;
	border-style:solid;
	border-width: 3px;
	border-color: #008d9a;
	transition-duration: 0.4s;
}

.screenshots img{
	width: 20%;
}

.screenshots img:hover{
	opacity: 0.5;
    filter: alpha(opacity=50);
}

@media only screen and (max-width: 900px){
	.screenshots img{
		width: 50%;
		
	}
}

@media only screen and (max-width: 400px){
	.screenshots img{
		width: 100%;
		
	}
}


/*------------------------------------------*/

.overlay {	
  	position: absolute;
  	bottom: 11px;
  	background: rgba(0,29,38,0.9);
  	overflow: hidden;
  	width: 250px;
  	height: 0;
  	transition: .5s ease;
	border-top: solid;
	color: #00eaff;
}

.infoContainer:hover .overlay {
	
  	height: 94%;
	border-top: solid;
	color: #00eaff;
	border-left: solid 1px #004a4a;
	border-right: solid 1px #004a4a;
	border-bottom: solid 1px #004a4a;
		
}

.infoContainer:hover .image{
    filter:blur(5px);
    transform: scale(0.94);
	transition: .5s ease;
	
}

	

.text {
	font-size: 15px;
  	white-space: nowrap; 
  	color: #cacaca;
  	font-variant: all-small-caps;
  	position: absolute;
  	overflow: hidden;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
}

.linkworkdescription{
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding: 14px 25px;
	display: inline-block;
	background-color: #001d26;
	color: #cacaca;
	border-style:solid;
	border-color: #00eaff;
	
	
}

.linkworkdescription:hover{
	background-color: #00eaff;
	color: #001d26;
	border-style:solid;
	border-color: #00eaff;
	transition-duration: 0.2s;
}


#footer{
	position:absolute;
	top: 900px;
  	right: 0;
  	left: 0;
 	padding: 1rem;
	border-bottom-style: solid;
	border-color: #00eaff;
  	background-color: #272727;
  	text-align: center;
	font-variant: all-small-caps;
	color: #cacaca;
	font-size: 12px;
	
}


.socialicon{
	display: inline-block;
	
}
.socialicon img{
	padding: 10px;

}

.socialicon img:hover {
	background-color: #000000;
	-webkit-filter: invert(90%);
	filter: invert(90%);
	transition-duration: 0.4s;
}


#myDIV {
    width: 100%;
	margin-top: 10px;
	display: none;
}

.viewMoreLessButton{
	width: 71.5%;
	height: 20px;
	margin-left: 15%;
	margin-top: 20px;
	background-color: #006b82;
	border-style: none;
	border-width: 0px;
	font-size: 13px;
	font-weight: bold;
	font-variant: all-small-caps;
	font-family: Helvetica, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #00eaff;
	transition-duration: 0.4s;
}

.viewMoreLessButton:hover{
	color: #006b82;
	background-color: #00eaff;
	transition-duration: 0.4s;
}

/*iframe {
	border-style: solid;
	border-width: 3px;
	border-color: #006b82;
}
*/
hr {
	margin-top: 15px;
	margin-bottom: 15px;
	color: #006b82;
	border-style: solid;
	border-width: 1px;
}
u{
	text-decoration: none;
	border-bottom: 3px solid #00eaff;
}